    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://yanivkoubbi.fr">Yaniv Koubbi</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="http://yanivkoubbi.fr">Accueil</a></li>
                <li><a href="#about">A propos</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projets <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Ecole</a></li>
                    <li><a href="#">Entreprise</a></li>
                    <li><a href="#">Personnels</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Sous menu</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul> 
                </li>
                <li><a href="./cBlog.php">Blog</a></li>
              </ul>
            </div>
          </div>
        </nav>
